<mat-toolbar color="primary">
    <mat-icon>attach_money</mat-icon>
    <div>Budget App</div>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Edit</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="tabChanged($event)" mat-stretch-tabs backgroundColor="primary" headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class='tab'>
                <mat-icon>attach_money</mat-icon>
                <div>Budget</div>
            </div>
            
        </ng-template>
        <app-budget-page></app-budget-page>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class='tab'>
                <mat-icon>event</mat-icon>
                <div>Calendar</div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class='tab'>
                <mat-icon>stars</mat-icon>
                <div>Goals</div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class='tab'>
                <mat-icon>account_balance</mat-icon>
                <div>Accounts</div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<!--<button mat-fab class="add"><mat-icon class="icon">{{fabIcon}}</mat-icon></button>-->
<div id="fab-dismiss"
    *ngIf="fabOptions.budget.fabTogglerState==='active'"
    (click)="onToggleFab()"></div>
<div class="fab-container">
    <button mat-fab color="primary" class="fab-toggler"
            (click)="onToggleFab()">
        <i class="material-icons" [@fabToggler]="{value: fabOptions.budget.fabTogglerState}">add</i> <!-- Animation here -->
    </button>
    <div [@speedDialStagger]="fabOptions.budget.buttons.length"> <!-- Animation here -->
        <button *ngFor="let btn of fabOptions.budget.buttons"
                mat-mini-fab
                class="fab-secondary"
                color="primary">
            <mat-icon matTooltip="{{btn.name}}" matTooltipPosition="left">{{btn.icon}}</mat-icon>
        </button>
    </div>
</div>

