@media only screen and (max-width: 1000px) {
    .mainContent {
        width:100%;
        margin: 0em auto;
        height: 88vh;
    }

    .mainContent > div {
        padding: 1em;
    }

    .mainContent > div > .toggles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }




   
}

h2 {
    font-size: xx-large;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;

}


