@media only screen and (max-width: 1000px) {
    .mainContent {
        width: 85%;
        margin: 5em auto;
        
    }

    .mainContent > .toggles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
}

